<div class="container">

</div>
<div class="container col-md-6 offset-md-3">
    <h1> {{message}} </h1>
    
    <form action="/notes" method="POST">
        
        <input type="hidden" name="userName" value={{userName}}>
        <input type="hidden" name="userKey" value={{userKey}}>

        
        <button class="btn btn-success" type="submit">Ir a Mis Notas</button>
        
        <a class="btn btn-secondary" href="/login">Volver al inicio</a>
    </form>
    
</div>
